.card {
    height: 100%;
    width: 50%;
  
    background: #4e74f0fe;
    color: #fff;
  
    border-radius: 10px;
    margin-bottom: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
  
  .card div strong {
    font-size: 18px;
  }

  .card div img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 15px;
  }
  
  .card div {
    display: flex;
    align-items: center;
  }

  .card div small {
    display: block;
  }

  .card div button {
    padding: 6px;
  
    font-weight: 700;
  
    background: #FFFFFF;
    color: #3c44ba;
  
    border-radius: 5px;
    margin: 6px 0 6px;
    border: none;
  
    cursor: pointer;
    transition: filter 0.2s;
  
    font-size: 14px;
  }